.main-home{
  background-image: url("../../assets/images/bg.jpg"), var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1{
    color: var(--yellow);
    letter-spacing: 4px;
    font-size: 90px;
    margin-bottom: 20px;
    //-webkit-text-stroke-width: 2px;
    //-webkit-text-stroke-color: rgb(14, 66, 207);
    font-size: 3em; 
    text-shadow: rgb(15, 57, 196) 1px -1px,rgb(15, 57, 196) -4px 4px, rgb(15, 57, 196) 2px 2px, rgb(15, 57, 196) -2px -2px;
  }

  img{
    display: block;
    margin-bottom: 20px;
  }

  button{
    background-color: var(--red);
    color: #fff;
    border: none;
    font-size: 24px;
    width: 180px;
    border-radius: 50px; 
    text-transform: uppercase;
    cursor: pointer;
  }
}